@{
    ViewData["Title"] = "home page";
}

<div class="text-center">
    <h1 class="display-4">Prueba 1</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p> Lorem ipsum dolor sit amet. Aut sequi earum qui ratione doloribus a magnam optio qui quibusdam quaerat. Et laborum omnis in aliquid commodi id amet dolor.

Ut officia cupiditate non nisi quibusdam aut voluptas animi! Et quia magni aut iure eveniet ut vitae internos aut ipsam voluptas sed incidunt facere qui iste voluptates. Aut nemo expedita eos tenetur sunt et molestias consectetur ab sapiente officia sed deserunt galisum 33 harum dolorum et cupiditate nulla.

Quo dolores perferendis sed aperiam autem rem dolorum perspiciatis aut aspernatur provident. Et nisi rerum et iste autem aut facere Quis ut mollitia exercitationem et quasi quia est nesciunt repudiandae et dicta amet. Et officiis fugit aut itaque beatae ut illo dolore ut vitae magnam rem minus dolorum ea facere reprehenderit.</p>

<img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_1280.jpg" />
</div>
